<!doctype html>
<html lang="en">
<head>
    <title>Holden.wiki: <%= message %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/favicon.svg">

    <link rel="stylesheet" href="/stylesheets/main.css">

    <style>
        /*
        Container for full page error
         */
        #error {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            padding: 0 2rem;
        }

        #error > pre {
            width: 100%;
            display: none;
        }

        #error-box {
            width: 95%;
            max-width: 32rem;
            padding: 0.5rem 2rem 2rem 2rem;
            margin-top: 2rem;
            overflow: hidden;

            border-radius: 8px;
            color: #383d41;
            border: solid 2px #d6d8db;
            background: #e2e3e5;
        }

        #error-box > h1 {
            line-break: anywhere;
        }

        #error-box img {
            width: calc(100% + 4rem);
            margin: 1rem -2rem -3rem -2rem;
        }
    </style>

    <script type="application/javascript" src="/javascripts/main.js"></script>
</head>
<body>
<%- include('partials/header') %>
<main>
    <div id="error">
        <div id="error-box">
            <h1><%= error.status %> <%= message %> :(</h1>
            <ul>
                <li><a href="/">Return home &raquo;</a></li>
                <li><a href="/docs">Passenger Vehicle - Main Menu &raquo;</a></li>
            </ul>
            <img src="/images/fire.jpg" alt="Commodore on fire">
        </div>

        <pre><%= error.stack %></pre>
    </div>
</main>
</body>
</html>
