<!doctype html>
<html lang="en">
<head>
    <title>Holden.wiki: <%= fileName %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/favicon.svg">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/viewer.css">

    <script type="application/javascript" src="/javascripts/main.js"></script>
    <script type="application/javascript" src="/javascripts/viewer.js"></script>
</head>
<body>
    <%- include('partials/header', {alwaysShowMenuButton: true}) %>
    <div id="container">
        <div id="sidebar" <% if (locals.isFallbackToPdf) { %> style="display: none" <% } %>>
            <div id="outline">
                <%- include('partials/nav', {class: 'mobile'}) %>
                <%- sidebar %>
            </div>
            <footer id="sidebar-footer">
                <div>Made by Mibble &hearts;</div>
            </footer>
        </div>
        <main>
            <% if (locals.isFallbackToPdf) { %>
                <div class="alert">
                    <div>
                        <p style="font-weight: bold">Holden.wiki doesn't have this PDF converted yet!</p>
                        <p>The original PDF is being displayed instead. Links and other functionality may not work.</p>
                    </div>
                </div>
            <% } %>
            <iframe id="viewer" title="Document Viewer" src="<%= url %>" width="100%" height="800px"></iframe>
        </main>
    </div>
</body>
</html>